doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Update Child Information
    link(rel='stylesheet' href='/css/childrenList.css')
    .container#con
      h2 Update Child Information
      form(action=`/update/${children._id}` method='POST')
        input(type='text' name='fname' value=children.fname placeholder='First Name' required)
        input(type='text' name='lname' value=children.lname placeholder='Last Name' required)
        input(type='text' name='parentname' value=children.parentname placeholder='Parent Name' required)
        input(type='tel' name='parentphone' value=children.parentphone placeholder='Parent Phone' required)
        input(type='number' name='age' value=children.age placeholder='Age' required min='0' max='18')
        select(name='class' required)
          option(value='') Select class
          option(value='baby' selected=(children.class === 'baby')) Baby
          option(value='middle' selected=(children.class === 'middle')) Middle
          option(value='top' selected=(children.class === 'top')) Top
        input(type='text' name='address' value=children.address placeholder='Address' required)
        select(name='gender' required)
          option(value='') Select gender
          option(value='female' selected=(children.gender === 'female')) Female
          option(value='male' selected=(children.gender === 'male')) Male
        button(type='submit') Update
        a.cancel-link(href='/childrenList') Cancel